body {
    background-color: black;
}

header {
    color: coral;
    text-align: center;
    font-family: sans-serif;
    font-size: 50px;
}

.container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

}
img {
    width: 30%;
    height: auto;
    filter: opacity(60%);
}

a:hover img {
    filter: saturate(1);
}